# Julia specific
*.ji
*.cov
*.mem
*.log
*.tmp
*.bak

# Project artifacts
/docs/build/
/docs/site/

# Plots and Output
*.png
!docs/images/
*.pdf
/plots/

# macos
.DS_Store

# Ignore Emacs auto-save files
\#*\#
# Ignore Emacs backup files
*~
# Ignore Emacs lock files
.#*